* {
    box-sizing: border-box;
}

body {
    font-size: 20px;
    max-width: 1280px;
    margin: auto;
    padding: 1em;
}

img {
    max-width: 100%;
    display: block;
}

.main-nav {
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
    gap: 20px;
    padding: 0;
    margin: 0;
}

main {
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
}

.media-card-container {
    flex: 1 1 350px;
}

.gallery-container {
    flex: 2 1 600px;
}

.feature-card {
    display: flex;
    gap: 16px;
    align-items: flex-start;
}

.feature-card .media-card-image {
    flex: 0 0 45%;
}

.feature-card .media-card-content {
    flex: 1;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 20px 30px;
}

.gallery-card {
    display: flex;
    align-items: flex-start;
    gap: 12px;
    flex: 1 1 calc(50% - 30px);
}

.gallery-card .media-card-image {
    flex: 0 0 110px;
}

.gallery-card .media-card-content {
    flex: 1;
}

.media-card-content h3 {
    margin-top: 0;
    margin-bottom: 8px;
}

.media-card-content p {
    margin: 0;
}

hr {
    margin-top: 50px;
}

@media screen and (max-width: 700px) {
    .feature-card {
        flex-direction: column;
    }

    .gallery-card {
        flex: 1 1 100%;
    }
}