@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

body {
    margin: 0;
    padding: 0;
    font-family: Roboto, sans-serif;
}

header,
main,
footer {
    max-width: 1000px;
    margin: 1rem auto;
    border: 1px solid #ccc;
    padding: 1rem;
    background-color: lightblue;
}

header {
    display: grid;
    grid-template-columns: 1fr auto;
    grid-template-areas:
        "title button"
        "nav nav";
    align-items: center;
    gap: 0.5rem 1rem;
}

h1 {
    grid-area: title;
    text-align: center;
    margin: 0;
}

.menu-btn {
    grid-area: button;
    cursor: pointer;
    border: none;
    background-color: transparent;
    padding: 0.25rem;
    justify-self: end;
}

.bar1,
.bar2,
.bar3 {
    width: 30px;
    height: 4px;
    background-color: black;
    margin: 5px 0;
    transition: 0.3s;
}

nav {
    grid-area: nav;
    text-align: left;
}

nav a {
    display: block;
    padding: 20px;
    color: black;
    text-decoration: none;
}

nav a:hover {
    text-decoration: none;
    color: #616061;
}

.hide {
    display: none;
}

section {
    padding: 20px;
    background-color: white;
    margin: 1em;
    border: 1px solid #ccc;
}

footer {
    text-align: center;
}

.change .bar1 {
    transform: translate(0, 11px) rotate(-45deg);
}

.change .bar2 {
    opacity: 0;
}

.change .bar3 {
    transform: translate(0, -11px) rotate(45deg);
}

@media screen and (min-width: 700px) {
    header {
        grid-template-columns: 1fr auto;
        grid-template-areas: "title nav";
    }

    .menu-btn {
        display: none;
    }

    nav {
        display: block;
        text-align: right;
    }

    nav a {
        display: inline-block;
    }

    .hide {
        display: block;
    }

    main {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (min-width: 1000px) {
    main {
        grid-template-columns: 1fr 1fr 1fr;
    }
}